table.whiteBorder
{
    border-color: #2e2e2e;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-spacing: 0;
    border-collapse: collapse;
}

table.NoBorder
{
    border-color: #2e2e2e;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-spacing: 0;
    border-collapse: collapse;
}

table.OneBorder
{
    border-color: #2e2e2e;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-spacing: 0;
}

h2{ margin-top: 50px; }

table{ 
	border-color: #2e2e2e;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0;
    	border-collapse: collapse;
	}

table.TwoBorder
{
    border-color: #2e2e2e;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;

}

table.TwoBorderDD
{
    border-color: #2e2e2e;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-spacing: 0;

}

body.DataDictionary { 
	margin:15px; padding:15px; border:1px solid #fff;
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:88%; 
	}
body {
	background-repeat: repeat-x;
	background-attachment: fixed;	
	background-color: #fff;
    	border-width: 1px 1px 1px 1px;
	}

TR.HeaderTR {
	color: #2e2e2e;
background-color: #fff1cd;
	}


TR.HeaderPathTR {
	color: #2e2e2e;
background-color: #fff1cd;
	}
	
TD.MiddleTD {
	background: #e6e7e8;
	color: #2e2e2e;
	}

TR.FooterPathTR {
	background: #fff;
	color: #2e2e2e;
	}
	
TR.MainContentTR {
	background: #fff;
	color: #2e2e2e;
	}

TR.MainContent2TR {
	background: #fff;
	color: #2e2e2e;
	}

TR.MainContent3TR {
	background: #fff;
	color: #2e2e2e;
	}

TD.LeftSide {
	background: #e6e7e8;
	color: #2e2e2e;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
	font-variant: small-caps;
	}

TD.RightSide {
	background: #fff;
	color: #2e2e2e;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: normal;
	font-variant: small-caps;
	}

TH.DataDictionary {
	background: #fff;
	font-family: Verdana, Arial, Helvetica;
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
	color: #2e2e2e;
border-color: #fff;
border-style: solid:
border-width:2px 2px 2px 2px;
	}

TH.DataDictionaryAttributelist {
	background: #fff;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	font-variant: small-caps;
	color: #2e2e2e;
	}

TD.RightSideTextHeader {
	background: #fff;
	color: #2e2e2e;
	font-family: Verdana, Arial, Helvetica;
	font-size: 18px;	
	font-weight: normal;
	font-variant: small-caps;
	}

TD.RightSideText {
	background: #fff;
	color: #2e2e2eF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
	font-variant: normal;
      border-color: #2e2e2e;
      border-style: solid;
	border-width: 1px 1px 1px 1px
	}

TD.RightSideTextAttributeList {
	background: #fff;
	color: #2e2e2e;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: normal;
	font-variant: normal;
	}

TH.RightSideText {
	background: #fff;
	color: #2e2e2e;
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	font-variant: small-caps;
 	}

TD.RightSideTR_Text {
	background: #fff;
	color: #2e2e2e;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: normal;
	font-variant: normal;
	}

TD.HeaderMenuTD {
	color: #2e2e2e;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	font-variant: small-caps;
	}

TR.FooterTR {
	color: #2e2e2e;
	}

TD.FooterMenuTD {
	color: #2e2e2e;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	font-variant: small-caps;
	}

TD.HeaderPathTD {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
	font-variant: small-caps;
	}

TR.HeaderTR {
	}

TD.HeaderTD {
	padding:5px;
	letter-spacing: 5px;
	color: #2e2e2e;
	font-family: Verdana, Arial, Helvetica;
	font-size: 18px;
	font-weight: normal;
	font-variant: small-caps;
	}

TD.HeaderStripeTD {
	color: #2e2e2e;
	font-family: Verdana, Arial, Helvetica;
	font-size: 5px;
	font-weight: bold;
	font-variant: small-caps;
	}

pre {
	background: #fff;
	font-family: Arial, Helvetica;
	font-size: 16px;
	font-weight: normal;
	font-variant: normal;
	white-space:nowrap;
	height: 200;
	width: 500;
    	overflow:scroll;
    }


a.navigation:link { 
	color:  #2e2e2e;
	text-decoration: underline;
	}
	
a.navigation:visited { 
	color: #2e2e2e;
	text-decoration: underline;
	}
	
a.navigation:hover { 
	color:  #2e2e2e;
	background-color: #e6e7e8;
	text-decoration: underline;
	}

a.navigation:active { 
	color:  #2e2e2e;
	text-decoration: underline;
	}


a.navigationNone:link { 
	color:  #2e2e2e;
	text-decoration: line-through;
	}
	
a.navigationNone:visited { 
	color: #2e2e2e;
	text-decoration: line-through;
	}
	
a.navigationNone:hover { 
	color:  #2e2e2e;
	background-color: #e6e7e8;
	text-decoration: line-through;
	}

a.navigationNone:active { 
	color:  #2e2e2e;
	text-decoration: line-through;
	}

	

a.navigation4:link { 
	color:  #2e2e2e;
	text-decoration: underline;
	}
	
a.navigation4:visited { 
	color: #2e2e2e;
	text-decoration: underline;
	}
	
a.navigation4:hover { 
	color:  #2e2e2e;
	background-color: #fff;
	text-decoration: underline;
	}
	
a.navigation4:active { 
	color:  #2e2e2e;
	text-decoration: underline;
	}




a.navigation2:link { 
	color:  #2e2e2e;
	text-decoration: underline;
	}
	
a.navigation2:visited { 
	color: #2e2e2e;
	text-decoration: underline;
	}
	
a.navigation2:hover { 
	color:  #2e2e2e;
	background-color: #fff;
	text-decoration: underline;
	}
	
a.navigation2:active { 
	color:  #2e2e2e;
	text-decoration: underline;
	}

a.navigation3:link { 
	color:  #2e2e2e;
	text-decoration: underline;
	}
	
a.navigation3:visited { 
	color:  #2e2e2e;
	text-decoration: underline;
	}
	
a.navigation3:hover { 
	color:  #2e2e2e;
	text-decoration: underline;
	}
	
a.navigation3:active { 
	color:  #2e2e2e;
	text-decoration: underline;
	}

hr {
	width: 90%;
	align: center;
	height: 2px;
	color: #2e2e2e;
	background-color: #fff;
}